img {
    display: block;
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px #555;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed orange;
    color: #930ee4;
}
a:hover {
    background-color: LightGrey;
}