<!DOCTYPE html>
<html>

<head>
    <title>
       Prejudice
    </title>
    <meta charset="utf-8">
    <meta name="description" content="A website to share your code with others" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
</head>

<body>
<div class="container">
<div class="columns">
<div class="column col-12" style="background:#F7F8F9; height:15px;"></div>
     <div class="column col-2 hide-xs hide-sm" style="background:#F7F8F9;"></div>
    <div class="column col-8 col-xs-12 col-sm-12" >
    
            <header class="navbar">
                <section class="navbar-section">
                    <a href="/" class="navbar-brand mr-2">Prejudice</a>
                    <a href="/topics" class="btn btn-link">Topics</a>
                </section>
                </header>
             
  </div>


  <div class="column col-2 hide-xs hide-sm" style="background:#F7F8F9;"></div>

<div class="column col-mx-auto col-8 col-sm-12">
<p>
Email: pride@prejudice.io
</p>
</div>
</div>

</div>

</body>