<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ImageCloud</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h1>ImageCloud</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    FileName:<input type="text" name="filename"><br><br>
    Files: <input type="file" name="file"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
