<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ImageCloud</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <h1>ImageCloud</h1>

    <form action="/login" method="post">
        User<input type="text" name="username"><br><br>
        Password:<input type="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>