<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{.title}}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@luowanshun">
    <meta name="twitter:title" content="{{.title}}">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@luowanshun">
    <meta name="twitter:domain" content="prejudice.io">
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
            body {
                margin: 0 auto;
                width: 52em;
            }
            img {
                margin: 0 auto;
                width: 50%;
            }
            @media all and (max-width: 768px) {
               body {
                   margin: 0 0;
                   width: 100%;
               }
            }
        </style>
</head>

<body>
    <p style="text-align: center;">{{.title}}</p>
    <div id="md">
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        function render() {
            var a = document.getElementById("md");
            var converter = new showdown.Converter();
            text = {{.content }};
        html = converter.makeHtml(text);
        a.innerHTML = html;
        console.log(html);
    }
        window.onload = function () {
            render();
            hljs.initHighlighting();
        }

    </script>
</body>