<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prejudice|{{.title}}</title>
    <!-- twitter card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@luowanshun">
    <meta name="twitter:title" content="{{.title}}">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@luowanshun">
    <meta name="twitter:domain" content="prejudice.io">
    <link rel="stylesheet" href="/media/style/hljs.css">
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/media/style/main.css">
    <link rel="stylesheet" href="/media/style/post.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134629345-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134629345-6');
    </script>
</head>

<body>
    <p class="title" style="text-align: center;">{{.title}}</p>

    <p id="info">{{.username}}   {{.time}}</p>

    <div class="pmain">
        <div id="md">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>
        function render() {
            var a = document.getElementById("md");
            var converter = new showdown.Converter();
            text = {{.content }};
        converter.setOption('tables', true)
        html = converter.makeHtml(text);
        a.innerHTML = html;
        console.log(html);
    }
        window.onload = function () {
            render();
            hljs.initHighlighting();
        }

    </script>
</body>