<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>signup</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <p>signup</p>
    <form action="/signup" method="post">
        User<input type="text" name="username"><br><br>
        Password:<input type="password" name="password"><br><br>
        Password:<input type="password" name="password1"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>